/**
    字体：
    font-family: sans-serif;

    母元素多大，这个就是多大
    font-size: inherit;

    text-align: left right center
    text-align: justify 两端对齐

    line-height: 10px 可以用数字来控制

    text-decoration: none;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;

    display: inline;一般用于文字 行内元素
    display: block; 块级元素
    display: inline-block; 行内块元素

    border: 1px dotted red;
    border: 1px solid red;


 */
